<footer>
  <p>
    &copy; <%= year_now %> frenkel2901
    <%= github_url(author: 'frenkel2901', repo: 'RoR_lessons_v6', title: 'Test Guru') %>
  </p>
  <p>
    <%= link_to 'Educational project in Thinknetica school', "https://thinknetica.com/", target: "_blank", rel:'noopener nofollow' %>
  </p>
</footer>
