.progress-bar-container {
  width: 50%;
  background-color: wheat;
  border-width: 2px;
  border-style: solid;
  border-color:black;
}

.progress-bar {
  width: 0%;
  height: 10px;
  background-color: black;
}
